pipeline/cp_exl_pq.json
{
	"name": "cp_exl_pq",
	"properties": {
		"activities": [
			{
				"name": "cp_exl_pq",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SP-START-LOG-ENTRY",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SET_MAPPING_VARIABLE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "review_id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "review_id",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "order_id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "order_id",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "review_score",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "review_score",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "review_comment_title",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "review_comment_title",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "review_comment_message",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "review_comment_message",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "review_creation_date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "review_creation_date",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "review_answer_timestamp",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "review_answer_timestamp",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_exl_parquet",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_exl_pq_src",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LKUP_JOB_DETAILS_EXL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[vb_get_job_dtls]",
						"storedProcedureParameters": {
							"TriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.Trigger",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AZSQLDB_EXL_LKUP",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SP-START-LOG-ENTRY",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LKUP_JOB_DETAILS_EXL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[vb_start_log_entry]",
					"storedProcedureParameters": {
						"jobid": {
							"value": {
								"value": "@activity('LKUP_JOB_DETAILS_EXL').output.firstRow.jobid",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"pipeline_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AZSQL_DB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SET_MAPPING_VARIABLE",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Mapping",
					"value": {
						"value": "{\n  \"type\": \"TabularTranslator\",\n  \"mappings\": [\n    {\n      \"source\": {\n        \"name\": \"review_id\",\n        \"type\": \"String\",\n        \"physicalType\": \"String\"\n      },\n      \"sink\": {\n        \"name\": \"reviewid\",\n        \"type\": \"String\",\n        \"physicalType\": \"UTF8\"\n      }\n    },\n    {\n      \"source\": {\n        \"name\": \"order_id\",\n        \"type\": \"String\",\n        \"physicalType\": \"String\"\n      },\n      \"sink\": {\n        \"name\": \"orderid\",\n        \"type\": \"String\",\n        \"physicalType\": \"UTF8\"\n      }\n    },\n    {\n      \"source\": {\n        \"name\": \"review_score\",\n        \"type\": \"String\",\n        \"physicalType\": \"String\"\n      },\n      \"sink\": {\n        \"name\": \"reviewscore\",\n        \"type\": \"String\",\n        \"physicalType\": \"UTF8\"\n      }\n    },\n    {\n      \"source\": {\n        \"name\": \"review_comment_title\",\n        \"type\": \"String\",\n        \"physicalType\": \"String\"\n      },\n      \"sink\": {\n        \"name\": \"reviewcommenttitle\",\n        \"type\": \"String\",\n        \"physicalType\": \"UTF8\"\n      }\n    },\n    {\n      \"source\": {\n        \"name\": \"review_comment_message\",\n        \"type\": \"String\",\n        \"physicalType\": \"String\"\n      },\n      \"sink\": {\n        \"name\": \"reviewcommentmessage\",\n        \"type\": \"String\",\n        \"physicalType\": \"UTF8\"\n      }\n    },\n    {\n      \"source\": {\n        \"name\": \"review_creation_date\",\n        \"type\": \"String\",\n        \"physicalType\": \"String\"\n      },\n      \"sink\": {\n        \"name\": \"reviewcreationdate\",\n        \"type\": \"String\",\n        \"physicalType\": \"UTF8\"\n      }\n    },\n    {\n      \"source\": {\n        \"name\": \"review_answer_timestamp\",\n        \"type\": \"String\",\n        \"physicalType\": \"String\"\n      },\n      \"sink\": {\n        \"name\": \"reviewanswertimestamp\",\n        \"type\": \"String\",\n        \"physicalType\": \"UTF8\"\n      }\n    }\n  ],\n  \"typeConversion\": true,\n  \"typeConversionSettings\": {\n    \"allowDataTruncation\": true,\n    \"treatBooleanAsNumber\": false\n  }\n}\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SP-SUCESS-LOG-ENTRY",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cp_exl_pq",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[vb_end_log_entry]",
					"storedProcedureParameters": {
						"error": {
							"value": null,
							"type": "String"
						},
						"jobid": {
							"value": {
								"value": "@activity('LKUP_JOB_DETAILS_EXL').output.firstRow.jobid\n",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"pipeline_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AZSQL_DB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP-FAIL-LOG-ENTRY",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cp_exl_pq",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[vb_end_log_entry]",
					"storedProcedureParameters": {
						"error": {
							"value": {
								"value": "@activity('cp_exl_pq').output.error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"jobid": {
							"value": {
								"value": "@activity('LKUP_JOB_DETAILS_EXL').output.firstRow.jobid",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"pipeline_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AZSQL_DB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Trigger": {
				"type": "string"
			}
		},
		"variables": {
			"Mapping": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-12-27T17:37:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}